{% extends "base.html" %}

{% block title %}aKi.com.br{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-signin" method="post" action="\salvarcategoria">
                <h2 class="form-signin-heading text-center">Cadastro de Categoria</h2>
                <label for="inputCategoria" class="sr-only">Categoria</label>
                </br>
                <input type="text" name="categoria" class="form-control" placeholder="Categoria" required autofocus>
                </br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </div>
        </form>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}