{% extends "base.html" %}

{% block title %}Categorias{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">
    <div class="row">
        <h2>Selecione uma das categorias para listar todas as empresas relacionadas.</h2>                       
        </br></br>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for categoria in opcoesCategorias %}
            <div class="col-md-4">
                <form class="form-signin" method="post" action="/empresas">

                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="categoriaBusca" value="{{ categoria.categoria }}"> {{ categoria.categoria }} </button>

                    </br>
                </form>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}

