{% extends "base.html" %}

{% block title %}Editar Usuário{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">

    <div class="row">

        {% for listaUsuario in usuario %}

        <h1 class="form-signin text-center"><strong>Dados da conta de {{ listaUsuario.nome }}</strong></h1>
        </br>
        </br>

               <div class="col-md-4"></div>
        
                <div class="col-md-4">
                    <form class="form-signin" action="/salvarusuario" method="post">
                        <label for="inputUsuario" class="sr-only">Usuario: </label>
                        <input type="text" class="form-control" name="usuario" placeholder="Usuário" required autofocus value="{{ listaUsuario.usuario }}">
                        </br>
                        <label for="inputSenha" class="sr-only">Senha: </label>
                        <input type="password" class="form-control" name="senha" placeholder="Senha" required value="{{ listaUsuario.senha }}">
                        </br>
                        <label for="inputNome" class="sr-only">Nome :</label>
                        <input type="text" class="form-control" name="nome" required autofocus placeholder="Nome Completo" value="{{ listaUsuario.nome }}">
                        </br>
                        <label for="inputEmail" class="sr-only">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" required value="{{ listaUsuario.email }}">
                        </br>
                        <button class="btn btn-lg btn-success " type="submit">Atualizar Dados</button>
                    </form>           
                </div>
                <div class="col-md-4"></div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}