<footer class="footer">
    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <h1 class="title-widget"> <i class="fa fa-address-card-o" ></i> Contato</h1>

                <div class="footerp"> 
                    <p><b>Email:</b> <a href="mailto:jean_alves017@hotmail.com">jean_alves017@hotmail.com</a></p>
                    <p><b>Telefones: </b> (38) 99970-7066 ou (38) 99173-0558</p>
                </div>

                <div class="social-icons">

                    <ul class="redes">

                        <a href="https://www.facebook.com/jean.alves.503"><i class="fa fa-facebook-square fa-3x" id="social"></i></a>
                        <a href="intent://send/38999707066#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"><i class="fa fa-whatsapp fa-3x" id="social"></i></a>
                        <a href="https://plus.google.com/u/0/111461766836458734584"><i class="fa fa-google-plus-square fa-3x" id="social"></i></a>
                        <a href="mailto:jean_alves017@hotmail.com"><i class="fa fa-envelope-square fa-3x" id="social"></i></a>

                    </ul>
                </div>
                <p>&copy; 2017 Jean Alves, Todos os Direitos Reservados.</p>
            </div>

            <div class="col-md-6">



                <h1 class="title-widget"> <i class="fa fa-link" ></i> Mapa do Site</h1>

                <ul>
                    <li><a href="/"><i class="fa fa-angle-double-right"></i> aKi.com.br</a></li>
                    <li><a href="/cadastrousuario"><i class="fa fa-angle-double-right"></i> Cadastrar-se</a></li>
                    <li><a href="/categorias"><i class="fa fa-angle-double-right"></i> Categorias</a></li>
                    <li><a href="/login"><i class="fa fa-angle-double-right"></i> Login</a></li>
                    <li><a href="/novolugar"><i class="fa fa-angle-double-right"></i> Novos Lugares</a></li>
                    <li><a href="/quemsou"><i class="fa fa-angle-double-right"></i> Quem Sou?</a></li>


                </ul>

            </div>
        </div>
    </div>
</footer>