<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../img/aki_logo.png">

        <title>aKi.com.br</title>

        <link href="../../css/bootstrap.css" rel="stylesheet">
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/bootstrap-theme.css" rel="stylesheet">
        <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../../css/estilo.css" rel="stylesheet">
        <link href="../../css/font-awesome.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">

    </head>
    <body>

        <script src="../../js/jquery-3.2.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/bootstrap.js"></script>
        <script src="../../js/npm.js"></script>
        <script src="../../js/scripts.js"></script>

        <img src="../../img/aki4.png" class="img-responsive" alt="aKi.com.br" width="1500" height="50">

        <nav class="navbar-inverse">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/" class="navbar-brand" ><div id="nome">aKi.com.br</div></a>

                </div>

                <div class="coolapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="active"> <a ><i class="fa fa-map-marker"></i></a>
                        </li>
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Novos Lugares</a></li>
                        <li><a href="#">Quem Sou?</a></li>
                    </ul>
                    <form class="navbar-form navbar-header">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="O que você procura?">
                        </div>
                        <button type="submit" class="btn btn-default">Buscar</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Entrar </a></li>
                        <li><a href="/cadastrousuario"><span class="glyphicon glyphicon-user"></span> Cadastrar-se </a></li>
                        <li><a> </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
