{% extends "base.html" %}

{% block title %}Quem Sou?{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">

    <div class="row">


        <img src="../../img/aki4.png" class="img-responsive">

        </br>

        <h2>Projeto desenvolvido durante a disciplina de Programação para Internet 2 do Curso de Análise e Desenvolvimento de Sistemas do IFTM - Instituto Federal de Ciência, Educação e Tecnologia Campus Paracatu-MG, como requisito de avaliação para conclusão do semestre!</h2>
        <h2>O sistema aKi.com.br tem como objetivo divulgação de lugares com base em buscas por categorias, e nomes dentro de certa localidade que o usúario se encontra.<br>Traçando uma rota para o estabelecimento de acordo com seu endereço cadastrado com ajuda o Google Maps!</h2>

    </div>

</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}