{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block body %}

<form method="post" action="" id="">   
    <fieldset>
        <legend>Google Maps</legend>   
 
        <div>
            <label for="txtEndereco">Endereço:</label>
            <input type="text" id="txtEndereco" name="txtEndereco" />
        </div>
        <div>
            <input type="button" id="btnEndereco" name="btnEndereco" value="Mostrar no mapa" />
        </div>
 
        <div id="mapa" style="height: 1000px; width: 1000px">
        </div>
 
        <input type="hidden" id="txtLatitude" name="txtLatitude" />
        <input type="hidden" id="txtLongitude" name="txtLongitude" />
    </fieldset>
</form>

{% endblock %}