{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">

    <div class="row">

        <h1 class="form-signin text-center"><strong>{{ empresa }}</strong></h1>
        </br>
        </br>

        {% for listaEmpresas in empresas %}

        <div class="col-md-12">
            <div class="lead">
                <h1><strong>{{ listaEmpresas.fantasia }}</strong></h1>
                </br>
                <h2><strong>{{ listaEmpresas.telefone }}</strong></h2>
                </br>
                <p><strong> CNPJ:</strong> {{ listaEmpresas.cnpj }}</p>
                </br>
                <p><strong> Endereço:</strong> {{ listaEmpresas.lagradouro }}, {{ listaEmpresas.numero }} 
                    <strong>Bairro:</strong> {{ listaEmpresas.bairro }}</p>
                </br>
                <p>{{ listaEmpresas.cep }}, {{ listaEmpresas.cidade }}/{{ listaEmpresas.uf }}</p>
                </br>
                <p><strong>Email:</strong> {{ listaEmpresas.email }}</p> 
            </div>
            
             <div class="carousel slide" id="carousel-745777">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-745777">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-745777">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-745777">
                    </li>
                </ol>
                <div class="carousel-inner">

                    <div class="item active">
                        <img alt="{{ listaEmpresas.nome }}" src="{{ listaEmpresas.imagem }}" />
                        <div class="carousel-caption">
                            <h1>
                                {{ listaEmpresas.fantasia }}
                            </h1>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-745777" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-745777" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            
             <form class="form-signin" method="post" action="/empresacompleta">

                    <button class="btn btn-success btn-lg" type="submit" name="empresa" value="{{ listaEmpresas.razao_social }}">Visualizar Dados Completos</button>

                    </br>
                </form>
            <!--            <p><a class="btn btn-success btn-lg " href="/empresacompleta" role="button">Visualizar Dados Completos</a></p>-->
            
            </br>
            </br>
        </div>

        {% endfor %}

    </div>
</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}