{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">

    <div class="row">

        {% for listaEmpresas in empresas %}

        <h1 class="form-signin text-center"><strong>{{ listaEmpresas.razao_social }}</strong></h1>
        </br>
        </br>

        <div class="col-md-12">
            <div class="lead">
                <h1><strong>{{ listaEmpresas.fantasia }}</strong></h1>
                </br>
                <h2><strong>{{ listaEmpresas.telefone }}</strong></h2>
                </br>
                <p><strong> CNPJ:</strong> {{ listaEmpresas.cnpj }}</p>
                </br>
                <p><strong> Endereço:</strong> {{ listaEmpresas.lagradouro }}, {{ listaEmpresas.numero }} 
                    <strong>Bairro:</strong> {{ listaEmpresas.bairro }}</p>
                </br>
                <p>{{ listaEmpresas.cep }}, {{ listaEmpresas.cidade }}/{{ listaEmpresas.uf }}</p>
                </br>
                <p><strong>Email:</strong> {{ listaEmpresas.email }}</p> 
            </div>



            <div class="col-md-12">
                <div class="carousel slide" id="carousel-745777">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-745777">
                        </li>

                        {% if imagem2 %}

                        <li data-slide-to="1" data-target="#carousel-745777">
                        </li>

                        {% endif %}

                        {% if imagem3 %}

                        <li data-slide-to="2" data-target="#carousel-745777">
                        </li>

                        {% endif %}

                    </ol>
                    <div class="carousel-inner">

                        <div class="item active">
                            <img alt="{{ nome }}" src="data:{{ tipo }};base64, {{ imagem }}" style="max-width:1500px; max-height:600px; width: 100%; height: auto;"/>

                            <div class="carousel-caption">
                                <h1>
                                    {{ listaEmpresas.razao_social }}
                                </h1>
                            </div>
                        </div>

                        {% if imagem2 %}

                        <div class="item">
                            <img alt="{{ nome2 }}" src="data:{{ tipo2 }};base64, {{ imagem2 }}" style="max-width:1500px; max-height:600px; width: 100%; height: auto;"/>
                            <div class="carousel-caption">
                                <h1>
                                    {{ listaEmpresas.razao_social }}
                                </h1>
                            </div>
                        </div>

                        {% endif %}

                        {% if imagem3 %}

                        <div class="item">
                            <img alt="{{ nome3 }}" src="data:{{ tipo3 }};base64, {{ imagem3 }}" style="max-width:1500px; max-height:600px; width: 100%; height: auto;"/>
                            <div class="carousel-caption">
                                <h1>
                                    {{ listaEmpresas.razao_social }}
                                </h1>
                            </div>
                        </div>

                        {% endif %}

                    </div> <a class="left carousel-control" href="#carousel-745777" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-745777" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                </br>
                </br>
            </div>

            <button class="btn btn-primary btn-lg " type="button" >Abrir Rota no Maps</button>
            <button class="btn btn-danger btn-lg " type="button" onClick="history.go(-1)">Voltar</button>


        </div>
    </div>

    {% endfor %}

</div>
</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}