{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block body %}

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

<div class="container">

    <div class="row">

        <h1 class="form-signin text-center"><strong>{{ categoria }}</strong></h1>
        </br>
        </br>

        {% for listaEmpresas in empresas %}

        <div class="col-md-12">
                 <div class="lead">
                <h1><strong>{{ listaEmpresas.fantasia }}</strong></h1>
                </br>
                <h2>{{ listaEmpresas.razao_social }}</h2>
                </br>
                <h2><strong>{{ listaEmpresas.telefone }}</strong></h2>
                </br>
                <p><strong> Endereço:</strong> {{ listaEmpresas.lagradouro }}, {{ listaEmpresas.numero }} 
                    <strong>Bairro:</strong> {{ listaEmpresas.bairro }}</p>
                </br>
                <p>{{ listaEmpresas.cep }}, {{ listaEmpresas.cidade }}/{{ listaEmpresas.uf }}</p>
                </br>
            </div>
            
             <form class="form-signin" method="post" action="/empresacompleta">

                    <button class="btn btn-success btn-lg" type="submit" name="empresa" value="{{ listaEmpresas.idempresa }}">Visualizar Dados Completos</button>

                    </br>
                </form>
            <!--            <p><a class="btn btn-success btn-lg " href="/empresacompleta" role="button">Visualizar Dados Completos</a></p>-->
            
            </br>
            </br>
        </div>

        {% endfor %}

    </div>
</div>

<div class="container">
    <img src="../../img/pano.jpg" class="img-responsive" width="150" height="500">
</div>

{% endblock %}